{% extends "layout.html" %} {% from "components/group_actions.html" import
render_cover_actions, render_leave_modal %}

<!-- Title -->
{% block title %} {% endblock %}

<!-- Main block -->
{% block main %}
<div>
  <!-- Cover -->
  <div
    class="mt-4 mb-4 d-flex flex-column flex-sm-row align-items-stretch align-items-sm-center justify-content-between row-gap-4"
  >
    <div
      class="d-flex flex-column flex-sm-row text-center text-sm-start justify-content-center align-items-center gap-2 gap-sm-4"
    >
      <img
        src="{{ group.image|s3_url('group') }}"
        alt="{{ group.name }}"
        class="avatar lg mx-auto"
      />
      <div class="d-flex flex-column align-items-start gap-3">
        <h1 class="fs-2 lh-1">{{ group.name }}</h1>
        {{ render_cover_actions(current_user, group) }} {{
        render_leave_modal(current_user, group) }}
      </div>
    </div>

    <div class="d-flex flex-sm-column">
      <ul class="d-flex p-0 m-0 flex-sm-column flex-grow-1 gap-2 text-center">
        <li
          class="list-inline-item w-100 m-0 d-flex flex-column flex-sm-row align-items-center gap-2"
        >
          <i class="fa-solid fa-comments fs-4"></i>
          <div class="flex-sm-grow-1 flex-grow-0">
            <h5 class="font-weight-bold d-block">{{ group.posts.count() }}</h5>
            <small class="text-muted">Posts</small>
          </div>
        </li>
        <li
          class="list-inline-item w-100 m-0 d-flex flex-column flex-sm-row align-items-center gap-2"
        >
          <i class="fa-solid fa-users fs-4"></i>
          <div class="flex-sm-grow-1 flex-grow-0">
            <h5 class="font-weight-bold d-block">
              {{ 1 + group.admins.count() + group.members.count() }}
            </h5>
            <small class="text-muted">Members</small>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Tabs -->
  {% set path = request.path.split("/") %}
  <div
    class="list-group d-flex flex-row text-center overflow-x-auto bg-light list-group-flush account-settings-links border-bottom"
  >
    <a
      href="{{ url_for('group.page', id=group.id) }}"
      class="list-group-item list-group-item-action {% if path | length == 3 or path[3] == 'posts' %}active{% endif %}"
    >
      Posts
    </a>
    <a
      href="{{ url_for('group.about', id=group.id) }}"
      class="list-group-item list-group-item-action {% if path[-1] == 'about' %}active{% endif %}"
    >
      About
    </a>
    <a
      href="{{ url_for('group.members', id=group.id) }}"
      class="list-group-item list-group-item-action {% if path[-1] == 'members' %}active{% endif %}"
    >
      Members
    </a>
  </div>
</div>

<!-- Tab -->
<div class="py-4">{% block content %} {% endblock %}</div>
{% endblock %}
