{% extends "layout.html" %} {% from 'components/user_card.html' import card %}
{% block title %} Profiles {% endblock %} {% block main %}
<!-- SEARCH -->
<div class="mb-3">
	<form action="/profiles" method="get">
		<div class="input-group">
			<button class="btn btn-outline-secondary" type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>

			<input
				type="text"
				name="q"
				class="form-control"
				placeholder="Search for people..." />
		</div>
	</form>
</div>

<!-- PROFILES -->
<ul class="list-group">
	{% if users %} {% for user in users %} {{ card(user, current_user )}} {%
	endfor %} {% else %}
	<div class="profile-div-wrapper">
		<h3>No friends yet</h3>
		<p class="mb-2 text-secondary">
			You haven’t added any friends yet. Start connecting with others to
			see your friends list grow!
		</p>
		<a
			href="{{ url_for('main.user_list') }}"
			class="btn btn-primary w-100"
			>Add Friends</a
		>
	</div>
	{% endif %}
</ul>
{% endblock %}
