{% extends "layout.html" %} {% from 'components/user_card.html' import card %}
{% block title %} Profiles {% endblock %} {% block main %}
<!-- SEARCH -->
<div class="mb-3">
	<form action="/profiles" method="get">
		<div class="input-group">
			<button class="btn btn-outline-secondary" type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>

			<input
				type="text"
				name="q"
				class="form-control"
				placeholder="Search for people..." />
		</div>
	</form>
</div>

<!-- PROFILES -->
<ul class="list-group">
	{% for user in users %} {{ card(user, current_user )}} {% endfor %}
</ul>
{% endblock %}
