{% extends "layout.html" %} {% from 'components/user_card.html' import card %}
{% block title %} Friend Requests {% endblock %} {% block main %}
<ul class="list-group">
	{% for user in users %} {{ card(user, current_user, True)}} {% endfor %}
</ul>

<script>
	// TODO: Add navigation to message
	
	document.querySelectorAll(".add-btn").forEach((addBtn) => {
		const username = addBtn
			.closest(".list-group-item")
			.getAttribute("data-user-username");

		addBtn.addEventListener("click", (e) => {
			e.preventDefault();

			fetch(`/requests/${username}`, {
				method: "POST",
			})
				.then((response) => {
					console.log(response);
					if (response.ok) {
						location.reload();
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		});
	});

	document.querySelectorAll(".accept-btn").forEach((acceptBtn) => {
		const username = acceptBtn
			.closest(".list-group-item")
			.getAttribute("data-user-username");

		acceptBtn.addEventListener("click", (e) => {
			e.preventDefault();

			fetch(`/requests/${username}/accept`, {
				method: "POST",
			})
				.then((response) => {
					if (response.ok) {
						location.reload();
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		});
	});

	document.querySelectorAll(".decline-btn").forEach((declineBtn) => {
		const username = declineBtn
			.closest(".list-group-item")
			.getAttribute("data-user-username");

		declineBtn.addEventListener("click", (e) => {
			e.preventDefault();

			fetch(`/requests/${username}/decline`, {
				method: "POST",
			})
				.then((response) => {
					if (response.ok) {
						location.reload();
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		});
	});

	document.querySelectorAll(".remove-btn").forEach((removeBtn) => {
		const username = removeBtn
			.closest(".modal")
			.getAttribute("data-user-username");

		removeBtn.addEventListener("click", (e) => {
			e.preventDefault();

			fetch(`/friends/${username}/remove`, {
				method: "DELETE",
			})
				.then((response) => {
					if (response.ok) {
						location.reload();
					}
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		});
	});
</script>
{% endblock %}
