{% extends "layout.html" %} {% from 'components/group_card.html' import
render_group_card %} {% from 'components/user_cover.html' import cover %} {%
block title %} {{ user.name }} {{ user.surname }} {% endblock %} {% block main
%}
<!-- UI TEMPLATES from https://bbbootstrap.com/snippets/individual-user-profile-social-network-94176986, https://www.bootdey.com/snippets/view/bs4-profile-with-timeline-posts -->
<div>
	<div>
		<!-- Cover -->
		{{ cover(user, current_user) }}
		<!-- Tabs -->
		<div
			class="list-group d-flex flex-row text-center overflow-x-auto bg-light list-group-flush account-settings-links border-bottom">
			<a
				href="{{ url_for('main.user_profile', username=user.username) }}"
				class="list-group-item list-group-item-action">
				Posts
			</a>
			<a
				href="{{ url_for('main.user_profile_about', username=user.username) }}"
				class="list-group-item list-group-item-action">
				About
			</a>
			<a
				href="{{ url_for('main.user_profile_friends', username=user.username) }}"
				class="list-group-item list-group-item-action">
				Friends
			</a>
			<a
				href="{{ url_for('main.user_profile_groups', username=user.username) }}"
				class="list-group-item list-group-item-action active">
				Groups
			</a>
		</div>
	</div>

	<!-- Tab -->
	<div class="py-4">
		{% if can_view %} {% if groups|length > 0 %}
		<ul class="group-grid">
			{% for group in groups %} {{render_group_card(group)}} {% endfor %}
		</ul>
		<!-- Pagination -->
		<nav aria-label="User's groups" class="mt-auto pt-3">
			<ul class="pagination d-flex justify-content-center">
				<li
					class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
					<a
						class="page-link"
						href="{{ url_for('main.user_profile_groups', username=user.username, page=page-1)}}"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for page in pagination.iter_pages() %} {% if page %}
				<li
					class="page-item {% if page == pagination.page %}active{% endif %}">
					<a
						class="page-link"
						href="{{ url_for('main.user_profile_groups', username=user.username, page=page) }}">
						{{ page }}
					</a>
				</li>
				{% else %}
				<li class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				{% endif %} {% endfor %}
				<li
					class="page-item {% if not pagination.has_next %}disabled{% endif %}">
					<a
						class="page-link"
						href="{{ url_for('main.user_profile_groups', username=user.username, page=page+1) }}"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
		{% else %}
		<div class="profile-div-wrapper">
			<div class="icon-box border">
				<i class="fa-solid fa-people-group fs-1 text-muted"></i>
			</div>
			<h3>Not in Any Groups Yet</h3>
			<p class="mb-2 text-secondary">
				This user hasn’t joined any groups yet. Maybe you can invite
				them to one and get the party started!
			</p>
		</div>
		{% endif %} {% else %}
		<div class="profile-div-wrapper">
			<div class="icon-box border">
				<i class="fa-solid fa-lock fs-1 text-muted"></i>
			</div>
			<h3>This account is private</h3>
			<p class="mb-2 text-secondary">
				Add this user as a friend to view their groups. You can view the
				user's about section before connecting with them.
			</p>
			<a
				href="{{ url_for('main.user_profile_about', username=user.username) }}"
				class="btn btn-primary w-100"
				>About</a
			>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
