{% extends "layout.html" %} {% import "components/post.html" as postings %} {%
block title %} Homepage {% endblock %} {% block main %}

<!-- TABS -->
<div class="mb-3">
	<div
		class="list-group d-flex flex-row text-center overflow-x-auto bg-light list-group-flush account-settings-links border-bottom mb-3">
		<a
			href="{{ url_for('main.feed') }}"
			class="list-group-item list-group-item-action"
			>Community</a
		>
		<a
			href="{{ url_for('main.my_feed') }}"
			class="list-group-item list-group-item-action active"
			>My Feed</a
		>
	</div>

	<form
		action="{{ url_for('main.tag_view', tag=tag) }}"
		method="get"
		class="flex-grow-1">
		<div class="input-group">
			<button class="btn btn-outline-secondary" type="submit">
				<i class="fa-solid fa-magnifying-glass"></i>
			</button>

			<input
				type="text"
				name="tag"
				class="form-control"
				placeholder="Search #tags..." />
		</div>
	</form>
</div>

{{ postings.create_post(current_user) }}
<div class="posts-wrapper">
	{% for post in posts %} {{ postings.post(post, current_user, group=post.group) }} {% endfor %}
</div>

<!-- Pagination -->
<nav aria-label="Feed navigation" class="mt-auto pt-3">
	<ul class="pagination d-flex justify-content-center">
		<li
			class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
			<a
				class="page-link"
				href="{{ url_for('main.my_feed', page=page-1)}}"
				aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		{% for page in pagination.iter_pages() %} {% if page %}
		<li class="page-item {% if page == pagination.page %}active{% endif %}">
			<a class="page-link" href="{{ url_for('main.my_feed', page=page) }}">
				{{ page }}
			</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<span class="page-link">...</span>
		</li>
		{% endif %} {% endfor %}
		<li
			class="page-item {% if not pagination.has_next %}disabled{% endif %}">
			<a
				class="page-link"
				href="{{ url_for('main.my_feed', page=page+1) }}"
				aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
{% endblock %}
